<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TailWind & Vue</title>
    <link rel="stylesheet" href="../dist/output.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body class="h-full">
    

    

    <!-- <main id="app" class="container bg-[url('../image/vue-bg-two.png')] w-full  h-full">

        <div class="px-40 py-40">
            
            <!-- <input type="text" v-model="greeting" ><br>
            {{ greeting }}({{ greeting.length }}) -->


            <!-- <button v-bind:class="active? 'text-black': 'text-white'" v-on:click="toggle" class="p-4 bg-sky-950 font-bold rounded-md shadow-2xl">Click here</button> -->
<!-- 
        </div>
        
    </main> --> 





    <main class="h-full grid place-items-center bg-[url('../image/vue-bg-one.png')]" id="app">

        <div class="h-2/3 w-2/3 bg-slate-800 font-bold rounded-lg shadow-2xl grid grid-cols-2 gap-8">
            <div class="bg-white h-3/4 w-3/4 mt-16 ml-14 rounded-lg shadow-2xl p-10 ">
                <h1 class="font-bold text-2xl mb-3 ">Assignment</h1>
                <ul v-for="assignment in assignments">
                    <li class="bg-slate-800 text-white px-3 shadow-lg flex items-center border border-gray-200 rounded dark:border-gray-700">
                        <input v-model="compleate" v-bind:id="assignment.id" type="checkbox" value="" name="bordered-checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 focus:ring-2 dark:border-gray-600">
                        <label v-bing:for="assignment.id" class="w-full py-4 ml-2 text-sm font-medium">{{assignment.name}}</label>
                    </li>
                </ul>
            </div>
            <div class="bg-white h-3/4 w-3/4 mt-16 ml-14 rounded-lg shadow-2xl p-10 ">
                <h1 class="font-bold text-2xl mb-3 ">Assignment</h1>
                <ul>
                    <li class="bg-slate-800 text-white px-3 shadow-lg flex items-center border border-gray-200 rounded dark:border-gray-700">
                        <input id="bordered-checkbox-5" type="checkbox" value="" name="bordered-checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 focus:ring-2 dark:border-gray-600">
                        <label for="bordered-checkbox-5" class="w-full py-4 ml-2 text-sm font-medium">Default radio</label>
                    </li>
                </ul>
            </div>
        </div>

        
    <pre>
        {{assignments}}
    </pre>

    </main>


    <script>

        let app = {

            data() {
                 return {
                    assignments: [
                        {name: 'Finish Project', compleate: false, id:1},
                        {name: 'Read Chapter 4', compleate: false, id:2},
                        {name: 'Turn in homework', compleate: false, id:3},
                        {name: 'Test Complete', compleate: false, id:4},
                    ]
                 };
            }


        };

        Vue.createApp(app).mount('#app');




        // Vue.createApp({
        //     data() {
        //         return {
        //             greeting: 'I am Munna Vau',
        //             // textW: 'text-white'
        //             active: false
        //         };
        //     },

        //     mounted() {
        //         setTimeout(() => {
        //             this.greeting = 'Changed';
        //         },3000);

        //     },
        //     methods: {
        //         toggle() {
        //             // this.textW = 'text-sky-950 bg-black'
        //             this.active = !this.active
        //         }
        //     }
        // }).mount('#app');
    </script>
</body>
</html>